<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>jQuery UI Dialog - Default functionality</title>
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.9.1.js"></script>
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css">
<script>
/* $(function() {
$( "#dialog" ).dialog();
}) */;

         function myfunction(){

        
        	 
        	 var text1 = document.getElementById("text1").value;
        	 document.getElementById("demo").innerHTML=text1;
        	 

      
 
        	
        	
        	
        	
             } 

            
   


</script>
</head>
<body>
<div id="dialog" title="Basic dialog">
<p>This is the default dialog which is useful for displaying information. The dialog window can be moved, resized and closed with the 'x' icon.</p>
</div>

<!-- <table>
    <tr> -->
 
 
    <form>
       <input type = "text" id = "text1" ></form>
       
        <button onclick="myFunction()">1</button>
     </tr>
    
    
    <tr>
        <td><input type = "text" id = text2></td>
        <td> <input type ="button" id = "button2" value ="2"></td>
    </tr>
    
    
        <tr>
        <td><input type = "text" id = text3></td>
        <td> <input type ="button" id = "button3" value ="3"></td>
    </tr>
    

</table>


<div>
<h3 id ="headline">for button 1

 </h3>

<p id = "demo"></p>





</div>





</body>
</html>